extend componentes/plantilla.pug
block contenidos
		section.intro
			div.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{Titulos[0]}
				p
					| Lorem ipsum, dolor sit amet consectetur adipisicing elit.Quae iure dolore saepe obcaecati asperiores impedit dicta inventore quaerat illum cupiditate, mollitia minima itaque id aperiam aliquam ullam quo facere atque.
					span Quae iure dolore saepe obcaecati asperiores impedit dicta inventore quaerat illum cupiditate, mollitia minima itaque id aperiam aliquam ullam quo facere atque.
				a.boton Leer más
		main.contenido
			+caja('imagen.png',Titulos[1], 'Lorem ipsum, dolor sit amet')
			+caja('imagen.png', Titulos[2], 'Lorem ipsum, dolor sit amet')
			+caja('imagen.png', Titulos[3], 'Lorem ipsum, dolor sit amet')