extend componentes/platilla.pug
block contenidos
    section.intro
      .intro__imagen: img(src="images/imagen.png", alt="imagen")
      .intro__contenido
        h2 #{titulos[0]}
        p
          | Lorem ipsum dolor sit amet
          | consectetur adipisicing elit.
          | Proin ex mi, gravida sit amet imperdiet vel, sodades a mi.
          | Proin sit amet tellus nec nisl bidendum ornare nec at augue.
          | Integer semper feugiat varius.
          span Proin sed urna quis orci interdum run.
        a.boton Ver más
    main.contenido
      +caja ("imagen.png",titulos[1], 'Lorem ipsum dolor sit amet')
      +caja ("imagen.png",titulos[2], 'Lorem ipsum dolor sit amet')
      +caja ("imagen.png",titulos[3], 'Lorem ipsum dolor sit amet')