-var Titulo = "Titulo principal"

-var Titulos = ['Titulo principal', 'subtitulo 1', 'subtitulo 2', 'subtitulo 3']

-var usuario = 'Diego'

doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames

			// condicioneles
			if usuario
				a Hola #{usuario}
			else
				a.boton Registro
		section.intro
			div.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{Titulos[0][3]}
				p
					| Lorem ipsum, dolor sit amet consectetur adipisicing elit.Quae iure dolore saepe obcaecati asperiores impedit dicta inventore quaerat illum cupiditate, mollitia
					| minima itaque id aperiam aliquam ullam quo facere atque.
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum sunt natus voluptatem aliquid iste reprehenderit facere et est, id sed doloribus dolore? Facere recusandae similique eveniet. Nulla, fugit voluptatem?
					span Quae iure dolore saepe obcaecati asperiores impedit dicta inventore quaerat illum cupiditate, mollitia minima itaque id aperiam aliquam ullam quo facere atque.
				a.boton Leer más
		ul
			// Loop utilizados en listas
			each titulo in Titulos
				li=titulo