.contenido
  margin-bottom: 40px
  justify-content: space-evenly
  contenedor()

.caja
  max-width 430px
  height auto
  margin: 0 10px
  caja-sombra()
  img
    width: 100%
  &__contenido
    padding: 20px
    padding-top: 20px
    background-color: color-claro
    span
      color color-secundario
      titulos(Fuente2)
    h3
      font-weight: normal
      titulos(Fuente2)
    p
      margin: auto 0

.contenido2
  @extend .contenido